In [1]:
import pandas as pd

In [2]:
# call the function read_csv() and send the parameter Salary_Data.csv
# The values are assigned to the variable dataset
dataset=pd.read_csv("Salary_Data.csv")

In [3]:
# view the values in dataset
dataset

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [4]:
# Here split the input & output variable 
# YearsExperience is the input values to assign the variable independent
independent=dataset[["YearsExperience"]]

In [5]:
# view the input values
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [6]:
# Assign the output values to  variable dependent
dependent=dataset[["Salary"]]

In [7]:
#View the output values
dependent

    Salary
0    39343
1    46205
2    37731
3    43525
4    39891
5    56642
6    60150
7    54445
8    64445
9    57189
10   63218
11   55794
12   56957
13   57081
14   61111
15   67938
16   66029
17   83088
18   81363
19   93940
20   91738
21   98273
22  101302
23  113812
24  109431
25  105582
26  116969
27  112635
28  122391
29  121872

In [8]:
# split the train and test dataset
# Here the library sklearn support the machine learning
from sklearn.model_selection import train_test_split
# x_train,x_test is input variable for training dataset and y_train,y_test is output variable for test dataset
x_train,x_test,y_train,y_test=train_test_split(independent,dependent, test_size=0.30, random_state=0)

In [9]:
# Model creation
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
# Learning Phase
regressor.fit(x_train,y_train)# here only weight and bias calculated

LinearRegression()

In [10]:
# check the weight and bias values
weight=regressor.coef_
weight

array([[9360.26128619]])

In [11]:
bias=regressor.intercept_
bias

array([26777.3913412])

In [13]:
#Evalution Metrics
y_pred=regressor.predict(x_test)
y_pred

array([[ 40817.78327049],
       [123188.08258899],
       [ 65154.46261459],
       [ 63282.41035735],
       [115699.87356004],
       [108211.66453108],
       [116635.89968866],
       [ 64218.43648597],
       [ 76386.77615802]])

In [14]:
# Test the model if it is working perfectly
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

r_score

In [15]:
# Save the model
import pickle
filename="Finalized_model_Linear.sav"

In [16]:
pickle.dump(regressor, open (filename,'wb'))

In [17]:
#Phase 2
#Load the Model
loaded_model= pickle.load (open("Finalized_model_Linear.sav",'rb'))
experience=int(input("Enter the Years of Experience:"))
result=loaded_model.predict([[experience]])
print ("The salary of ",experience,"years experience is",result)

Enter the Years of Experience: 15

The salary of  15 years experience is [[167181.3106341]]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(