In [1]:
import pandas as pd
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [2]:
dataset['sex'].replace(['female','male'],[1,0],inplace=True)
dataset['smoker'].replace(['yes','no'],[1,0],inplace=True)
dataset

      age  sex     bmi  children  smoker      charges
0      19    1  27.900         0       1  16884.92400
1      18    0  33.770         1       0   1725.55230
2      28    0  33.000         3       0   4449.46200
3      33    0  22.705         0       0  21984.47061
4      32    0  28.880         0       0   3866.85520
...   ...  ...     ...       ...     ...          ...
1333   50    0  30.970         3       0  10600.54830
1334   18    1  31.920         0       0   2205.98080
1335   18    1  36.850         0       0   1629.83350
1336   21    1  25.800         0       0   2007.94500
1337   61    1  29.070         0       1  29141.36030

[1338 rows x 6 columns]

In [3]:
independent=dataset[['age', 'sex', 'bmi', 'children', 'smoker']]
independent

      age  sex     bmi  children  smoker
0      19    1  27.900         0       1
1      18    0  33.770         1       0
2      28    0  33.000         3       0
3      33    0  22.705         0       0
4      32    0  28.880         0       0
...   ...  ...     ...       ...     ...
1333   50    0  30.970         3       0
1334   18    1  31.920         0       0
1335   18    1  36.850         0       0
1336   21    1  25.800         0       0
1337   61    1  29.070         0       1

[1338 rows x 5 columns]

In [4]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent, test_size=0.30, random_state=0)

In [6]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=100,criterion='absolute_error',max_features='sqrt',bootstrap=True, random_state=0)
regressor.fit(x_train,y_train)

C:\Users\Anbu Priya\AppData\Local\Temp\ipykernel_8380\1212093351.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x_train,y_train)

RandomForestRegressor(criterion='absolute_error', max_features='sqrt',
                      random_state=0)

In [7]:
y_pred=regressor.predict(x_test)

In [8]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score

0.870322093126407

In [9]:
import pickle
filename="Finalized_Model_RFR.sav"
pickle.dump(regressor, open (filename,'wb'))

In [10]:
loaded_model= pickle.load(open("Finalized_model_RFR.sav",'rb'))
age=int(input("Enter your Age:"))
sex_male=int(input("Enter gender Male(0) or female(1) enter 0 or 1:"))
bmi=float(input("Enter your BMI:"))
children=int(input("Enter the No of children:"))
smoker_yes=int(input ( "Smoker Yes(1) or No(0) Enter 0 or 1:"))
result=loaded_model.predict([[age,sex_male,bmi,children,smoker_yes]])
result

Enter your Age: 20
Enter gender Male(0) or female(1) enter 0 or 1: 1
Enter your BMI: 26
Enter the No of children: 0
Smoker Yes(1) or No(0) Enter 0 or 1: 0

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([2251.188631])